<div class="container">
	<div class="row">

		<%if (model.length > 1) {%>

			<%if (model[0].visible) {%>
				<%for (var t in model) {%>
					<%if (session.user && session.user.id !== model[t]._id && session.user.username !== model[t].name) {%>
						<div class="col-xs-12 col-sm-6 col-md-3">
							<a class="participant" href='/participants/<%=model[t]._id%>'>
								<p><%=model[t].name%></p>
							</a>
						</div>
					<%}%>
				<%}%>
				<div class="col-xs-12">
					<p style="margin-top:30px; margin-bottom:0;">¡Ya ha llegado el momento de pensar en el regalo más ingenioso para tu amigo invisible!</p>	
				</div>
			<%} else {%>
				<%for (var t in model) {%>
					<%if (session.user && session.user.id !== model[t]._id && session.user.username !== model[t].name) {%>
						<div class="col-xs-12 col-sm-6 col-md-3">
							<a class="participant" href='/participants/<%=model[t]._id%>'>
								<p><%=model[t].name%></p>
							</a>
						</div>
					<%}%>
				<%}%>
				<div class="col-xs-12">
					<p style="margin-top:30px; margin-bottom:0;">¿Todo listo? ¿Todos preparados para jugar? ¡Adelante!</p>
					<%if (model.length > 2) {%>
						<button class="mybtn btn btn-info" onclick="window.location.href='/sorteo'">Realizar sorteo</button>
					<%} else {%>
						<button disabled class="mybtn btn btn-info" onclick="window.location.href='/sorteo'">Realizar sorteo</button>
					<%}%>	
				</div>
			<%}%>
		<%} else {%>
			<p>Ups! Todavía nadie se ha atrevido a jugar!</p>
		<%}%>

	</div>
</div>