<div class="container">
	<h2><b>Bienvenido al Amigo Invisible de humor negro</b></h2>
	<br>
	<p>Si quieres comenzar a jugar, regístrate o inicia sesión si ya lo has hecho<br><br>Recuerda que una vez entres en este juego, no podrás salir<br><br>¿Estás preparado?</p>	
</div>