<div class="container">
	<h1>Bienvenido al Amigo Invisible de humor negro</h1>
	<br>
	<p>Si quieres comenzar a jugar, regístrate o inicia sesión si ya lo has hecho. Recuerda que una vez entres en este juego, no podrás salir. ¿Estás preparado?</p>	
</div>